<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center" >
        <h1>Cadastro</h1>
    </div>
   
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <form name="form" id="form" action="{% if db%}/update/{{db.id}}/{%else%}/create/{% endif %}" method="post">
            {% csrf_token %}
            <!--{{form.as_p}}-->
            <div class="form-group mt-4">Modelo: {{form.modelo}}</div>
            <div class="form-group mt-4">Marca: {{form.marca}}</div>
            <div class="form-group mt-4">Ano: {{form.ano}}</div>
            <div class="col-8 m-auto pt-3 pb-2 text-center">
                <input type="submit" class="btn btn-success" value="Salvar">
            </div>
        </form>
    </div>
</body>
</html>