<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>CRUD com Python</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body <!--style="background-image: url('{% static 'img/pyimg.jpg' %}'); background-repeat: no-repeat;background-size: 100%;opacity: 0,9;"-->>
    <div class="col-8 m-auto pt-2 pb-2 text-center" >
        <h1>Crud com Python</h1>        
    </div>
   
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/form" class="btn btn-success">Adicionar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for dbs in db %}
                <tr>
                    <th>{{ dbs.id}}</th>
                    <td>{{ dbs.modelo}}</td>
                    <td>{{ dbs.marca}}</td>
                    <td>{{ dbs.ano}}</td>
                    <td>
                        <a href="/view/{{dbs.id}}/" class="btn btn-dark">Visualizar</a>
                        <a href="/edit/{{dbs.id}}/" class="btn btn-primary">Editar</a>
                        <a href="/delete/{{dbs.id}}/" class="btn btn-danger">Deletar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>